<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Angular 2 Stepper</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-card mdl-shadow--2dp" style="width: 99%;">
       <div class="mdl-card__supporting-text">
    <app-steps-container [steps]="stepComponents">
    </app-steps-container>
    </div>
    </div>
  </main>
</div>
